<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.2.1" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="net472" />
  <package id="ImageProcessor" version="2.9.1" targetFramework="net472" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.0.0" targetFramework="net472" />
  <package id="ShimSkiaSharp" version="0.5.8.3" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="net472" />
  <package id="Svg.Custom" version="0.5.8.3" targetFramework="net472" />
  <package id="Svg.Model" version="0.5.8.3" targetFramework="net472" />
  <package id="Svg.Skia" version="0.5.8.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net472" />
</packages>